    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        background-color: orangered;
    }
    
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 10%;
        background-color: orangered;
        background: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }
    
    .logo {
        font-size: 1.875em;
        color: #ededed;
        text-decoration: none;
    }
    
    .navbar a {
        font-size: 1.125em;
        color: #ededed;
        text-decoration: none;
        font-weight: 500;
        margin-left: 35px;
        transition: .2s;
    }
    
    .navbar a:hover {
        color: dodgerblue;
    }
    
    .navbar a:active {
        color: orange;
    }
    
    .hero-section {
        height: 100vh;
        display: flex;
        align-items: center;
        padding: 0 10%;
    }
    
    .hero-content {
        max-width: 600px;
        background-color: black;
        color: #ededed;
        display: flex;
    }